body {
  background-color: DarkSlateBlue;
  color: White;
}
h1 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
ul {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}
li {
  background: SteelBlue;
  margin: 5px 0 5px 0;
  padding: 10px;
}